* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    padding-top: 5rem;
    width: 400px;
    min-height: 500px;
    margin: auto;
}

.checkbox {
    margin-bottom: 5px;
    background: #f3f3f3;
    padding: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttonPosition {
    position: absolute;
    top: 95%;
}